{
  "semi": true,
  "useTabs": false,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@application",
    "^@application/(.*)$",
    "^@components",
    "^@components/(.*)$",
    "^@utils",
    "^@utils/(.*)$",
    "^@infrastructure",
    "^@infrastructure/(.*)$",
    "^@interfaces",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true
}
